h2 = title
.card[data-controller="linegraph" data-linegraph-data-value=values data-linegraph-topics-value=topics data-linegraph-dimension-value=dimension]
  .card-body
    .graph-container[data-linegraph-target='container' id=id]
